body {
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 31px;
  margin: 0;
  width: 100%;
}
.navbar {
  position: relative;
  width: 100%;
  top: 0px;
  background-color: #597e9f;
  height: 5.063rem;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
}
.navbar > .container-fluid {
  justify-content: normal;
}
.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  position: absolute;
  left: 4rem;
  top: 35%;
}

#login {
  position: absolute;
  width: 10.061rem;
  height: 2.938rem;
  right: 13rem;
  top: 1rem;
  border: none;
  background: #e9e1df;
}

#register {
  position: absolute;
  width: 10.061rem;
  height: 2.938rem;
  right: 1.35rem;
  top: 1rem;
  border: none;
  background: #e99374;
}

.debugForce {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 39px;
  line-height: 47px;
  z-index: 1;
}

.navbar-nav {
  position: absolute;
  top: 1rem;
  left: 6rem;
  border-radius: 0% 5% 5% 0%;
  padding-left: 1rem;
  border-top: none;
  border-left: none;
  padding-right: 1rem;
  z-index: 1;
}

#profileDown {
  right: 2%;
  top: 6%;
  position: absolute;
}

#profileBtn {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  background-color: #fff;
  border-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.dropdown-toggle::after {
  display: none;
}

#userAvatar {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
}

.debugForce #one {
  color: #2c3b56;
}

.debugForce #two {
  color: #e99374;
}

button.questions {
  background-color: transparent !important;
  border: none !important;
  color: black !important;
  margin-left: 1rem;
}

#questionDiv {
  height: 38.98px;
  display: flex;
  align-items: center;
}

#questionDiv:hover {
  background-color: #e9ecef;
}

#navbarSupportedContent > form > input {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
  justify-content: center;
  max-width: 10rem;
  border-radius: 10px 0 0 10px;
  border-right: none;
  border-color: #2c3b56;
}

.noselect {
  text-decoration: none;
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  margin-right: 12%;
  align-items: center;
  background: #e99374;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: #e99374;
}

.noselect,
.noselect span {
  transition: 200ms;
}

.noselect .text {
  transform: translateX(35px);
  font-size: 8.5pt;
  margin-right: 4rem;
  color: white;
  font-weight: bold;
}

.noselect .icon {
  position: absolute;
  border-left: 1px solid #e98663;
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noselect svg {
  width: 15px;
  fill: #eee;
}

.noselect:hover {
  background: #e99374;
}

.noselect:hover .text {
  color: transparent;
}

.noselect:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
}

.noselect:focus {
  outline: none;
}

.noselect:active .icon svg {
  transform: scale(0.8);
}

/* Responsive Styles */

@media only screen and (max-width: 430px) {
  #login {
    width: 5rem;
    height: 2.5rem;
    right: 6rem;
    top: 25%;
  }
  #register {
    width: 5rem;
    height: 2.5rem;
    right: 0.5rem;
    top: 25%;
  }
  #login,
  #register {
    font-size: 20px;
    line-height: 15px;
  }
  .navbar-nav {
    border: 1px solid #2c3b56;
    top: 2rem;
    background-color: rgba(255, 255, 255, 0.652);
  }
}

@media only screen and (min-width: 430px) and (max-width: 660px) {
  #login {
    width: 5.848rem;
    height: 2.938rem;
    right: 8rem;
    top: 1rem;
  }
  #register {
    width: 5.848rem;
    height: 2.938rem;
    right: 1rem;
    top: 1rem;
  }
  #login,
  #register {
    font-size: 18px;
    line-height: 22px;
  }
  .navbar {
    height: 5.063rem;
  }
  .navbar-toggler-icon {
    top: 27%;
    width: 3.5rem;
    height: 2.5rem;
  }
  #midScreenSmall {
    display: block;
  }
  #midScreen {
    display: none;
  }
  .navbar-nav {
    top: 5.5rem;
    left: 2rem;
  }
  button.questions {
    margin-left: 3rem;
  }
}

@media only screen and (max-width: 992px) and (min-width: 660px) {
  #login {
    width: 7rem;
    height: 3rem;
    right: 9rem;
    top: 1rem;
  }
  #register {
    width: 7rem;
    height: 3rem;
    right: 1rem;
    top: 1rem;
  }
  #login,
  #register {
    font-size: 25px;
    line-height: 22px;
  }
}

@media only screen and (min-width: 992px) {
  .navbar-nav {
    top: 1.3rem;
    left: 14rem;
  }
  .debugForce {
    position: absolute;
    left: 1rem;
  }
}
