#userFormDetails {
  margin-right: 1.5rem;
}
.form-select {
  margin-left: 0.7rem;
  width: 90%;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #e9e1df;
  margin-bottom: 0.3rem;
}
.container.regLog {
  height: 100%;
  margin-bottom: 4rem;
}
