.container.regLog {
  width: 22.741rem;
  height: 29.563rem;
  background-color: #93b9d0;
  border-radius: 14px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.form-control {
  margin-left: 0.7rem;
  width: 90%;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #e9e1df;
  margin-bottom: 0.3rem;
}

.form-label {
  font-size: 17px;
}

.btn.reg {
  margin-top: 15%;
  background-color: #e99374;
  border: 1px solid #000000;
  width: 166.4px;
  height: 38.07px;
  border-radius: 0;
  font-size: 18px;
  font-weight: bold;
  color: #e9e1df;
}

.btn.auth {
  position: relative;
  background-color: #e9e1df;
  border-radius: 10px;
  border: 1px solid #000000;
  height: 32px;
  width: 260px;
  margin-left: -0.7rem;
  margin-top: 1.4rem;
}

.authCol {
  margin-top: 2.3rem;
}

.btn.auth > a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.authLogo {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 2px;
  left: 11%;
}

/* Media Queries */

@media only screen and (max-width: 430px) {
  .container.regLog {
    width: 16.25rem;
    height: 21.125rem;
    margin-top: 3.5rem;
  }

  .form-label {
    display: flex;
    font-size: 13px;
    margin-left: 1rem;
  }

  form {
    margin-top: 1.5rem;
  }

  #regLogSpan {
    font-size: 14px;
  }

  #regHero {
    display: none;
  }

  #regP {
    display: none;
  }
}

@media only screen and (max-width: 992px) and (min-width: 430px) {
  .container.regLog {
    margin-top: 10.625rem;
  }

  .btn.reg {
    font-size: 26px;
    width: 232.86px;
    height: 53.28px;
  }

  .form-label {
    display: flex;
    font-size: 20px;
    margin-left: 1rem;
  }

  form {
    margin-top: 2.5rem;
  }

  .form-control {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 2.7rem;
  }

  #regLogSpan {
    font-size: 19px;
  }

  .btn.auth {
    height: 54px;
    width: 364px;
    margin-left: -0.7rem;
    margin-top: 1rem;
    font-size: 22px;
    padding-left: 2rem;
  }

  .authCol {
    margin-top: 3rem;
  }

  .authLogo {
    width: 44px;
    height: 44px;
    top: 4px;
  }

  #regHero {
    display: block;
    position: absolute;
    font-size: 39px;
    font-weight: bold;
    top: 14%;
    left: 22%;
  }

  #regP {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .container.regLog {
    margin-top: 3.5rem;
    margin-left: 2.875rem;
  }

  .btn.reg {
    font-size: 26px;
    width: 232.86px;
    height: 53.28px;
  }

  .form-label {
    display: flex;
    font-size: 20px;
    margin-left: 1rem;
  }

  form {
    margin-top: 2.5rem;
  }

  .form-control {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 2.7rem;
  }

  #regLogSpan {
    font-size: 19px;
  }

  .btn.auth {
    height: 54px;
    width: 364px;
    font-size: 22px;
    padding-left: 2rem;
  }

  .authLogo {
    width: 44px;
    height: 44px;
    top: 4px;
  }

  #regHero {
    display: block;
    position: absolute;
    font-size: 39px;
    font-weight: bold;
    top: 12%;
    left: 31%;
  }

  #regP {
    margin-top: 24%;
    margin-left: 34%;
  }

  #regP > pre.d-flex {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
  }

  #regP span:nth-child(odd) {
    font-weight: bold;
  }

  #regP span:nth-child(2n-1) {
    margin-top: 1.5rem;
  }
}
